---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: oauth2-proxy
  namespace: default
  labels:
    app: oauth2-proxy
    app.kubernetes.io/name: oauth2-proxy
    app.kubernetes.io/component: authentication
