---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: example-app
  namespace: default
  labels:
    app: example-app
    auth.cat-herding.net/enabled: "true"
spec:
  hosts:
  - "example-app.cat-herding.net"
  gateways:
  - aks-istio-ingress/cat-herding-gateway
  http:
  - match:
    - uri:
        prefix: "/"
    route:
    - destination:
        host: example-app.default.svc.cluster.local
        port:
          number: 80
    timeout: 30s
    retries:
      attempts: 3
      perTryTimeout: 10s
      retryOn: gateway-error,connect-failure,refused-stream
