---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - secret.yaml

configMapGenerator:
  - name: oauth2-proxy-sidecar-config
    files:
      - oauth2_proxy.cfg=configmap-sidecar.yaml

labels:
  - pairs:
      app.kubernetes.io/name: oauth2-proxy-sidecar
      app.kubernetes.io/component: authentication
