---
apiVersion: v1
kind: Namespace
metadata:
  name: default
  labels:
    name: default
    istio-injection: enabled
    app.kubernetes.io/name: auth-gateway
    app.kubernetes.io/component: authentication
