---
apiVersion: v1
kind: Namespace
metadata:
  name: auth
  labels:
    name: auth
    istio-injection: enabled
    app.kubernetes.io/name: auth-gateway
    app.kubernetes.io/component: authentication
