apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - secret.yaml.example

commonLabels:
  app.kubernetes.io/name: oauth2-proxy
  app.kubernetes.io/component: authentication
